#container {
	position: relative;
}

#octopus {
	position: static;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 200px;
}

#glasses {
	position: absolute;
	left: 342px;
	top: 300px;

}

#hat {
	position: absolute;
	left: 280px;
	top: 130px;

}